#!/bin/bash
 
#Force file syncronization and lock writes
mongo admin --eval "printjson(db.fsyncLock())"
 
MONGODUMP_PATH="/usr/bin/mongodump"
MONGO_HOST="<%= node[:backend][:mongoid][:host]  %>" #replace with your server ip
MONGO_PORT="27017"
MONGO_DATABASE="<%= node[:backend][:mongoid][:database] %>" #replace with your database name
 
TIMESTAMP=`date +%F-%H%M`
 
# Create backup
$MONGODUMP_PATH -h $MONGO_HOST:$MONGO_PORT -d $MONGO_DATABASE
 
# Add timestamp to backup
mv dump mongodb-$HOSTNAME-$TIMESTAMP
tar cf mongodb-$HOSTNAME-$TIMESTAMP.tar mongodb-$HOSTNAME-$TIMESTAMP

tar cf uploads-$HOSTNAME-$TIMESTAMP.tar uploads
  
#Unlock database writes
mongo admin --eval "printjson(db.fsyncUnlock())"