<%= node[:backend][:env] %>:
  server: <%= node[:backend][:redis][:server] %>
  port: <%= node[:backend][:redis][:port] %>
  db_num: <%= node[:backend][:redis][:db_num] %>
  namespace: <%= node[:backend][:redis][:namespace] %>
