worker_processes <%= node[:backend][:unicorn][:worker_processes] %>

working_directory "<%= node[:backend][:deploy_to] %>/current"

listen "<%= node[:backend][:unicorn][:sock] %>", :backlog => 64

timeout 30

pid "<%= node[:backend][:unicorn][:pid] %>"

stderr_path "<%= node[:backend][:unicorn][:stderr] %>"
stdout_path "<%= node[:backend][:unicorn][:stdout] %>"

preload_app true
GC.respond_to?(:copy_on_write_friendly=) and
  GC.copy_on_write_friendly = true

check_client_connection false

before_fork do |server, worker|
  defined?(ActiveRecord::Base) and
    ActiveRecord::Base.connection.disconnect!
end

after_fork do |server, worker|
  defined?(ActiveRecord::Base) and
    ActiveRecord::Base.establish_connection
end
