upstream app {
    server unix:<%= node[:backend][:unicorn][:sock] %> fail_timeout=0;
}

limit_req_zone $binary_remote_addr zone=one:10m rate=1r/s;

server {

    listen <%= node[:backend][:nginx][:port] %>;
    server_name <%= node[:backend][:nginx][:host] %>;

    root <%= node[:backend][:deploy_to] %>/current/public;

    try_files $uri/index.html $uri @app;

    location ~* ^.+\.(jpg|jpeg|png|gif|ico)$ {
        gzip_static on;
        expires max;
        add_header Cache-Control public;
    }

    location @app {
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header Host $http_host;
        proxy_redirect off;
        proxy_pass http://app;
    }

    error_page 500 502 503 504 /500.html;
    client_max_body_size 4G;
    keepalive_timeout 10;
}